Source: nexis
Section: utils
Priority: optional
Maintainer: Luke Simpson <luke@lsimpsonsfdc.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.16),
               g++,
               qt6-base-dev,
               qt6-charts-dev,
               qt6-svg-dev,
               qt6-tools-dev,
               qt6-tools-dev-tools,
               qt6-l10n-tools,
               libgl1-mesa-dev
Standards-Version: 4.6.2
Homepage: https://github.com/lsimpsonsfdc/Nexis
Vcs-Browser: https://github.com/lsimpsonsfdc/Nexis.git

Package: nexis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: systemd, curl, adwaita-icon-theme | yaru-theme-icon
Description: Linux System Optimizer and Monitoring
 Nexis is an open-source system optimizer and application monitor
 that helps users manage startup applications, clean system caches,
 monitor resources, and manage services and packages.
